*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}.brand{
    width: 100%;
    height: 900px;
  background-image: url(./images/slider-bg.jpg);
   background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  
}
.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}


.menu-icon {
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 20px;
}

.side-menu {
    list-style: none;
    padding: 20px;
    background: #111;
    width: 200px;
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    border-radius: 10px;
}

.side-menu li {
    margin: 15px 0;
}

.side-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.best-h1{
    color: white;
    margin-top: 250px;
    font-size: 40px;
    margin-left: 200px;
}
.brand-p{
    color: white;
       margin-left: 200px;
       width: 530px;
       margin-top: 20px;
       font-size: 20px;
       
}
.brand-btn{
    width: 150px;
    height: 40px;
    margin-left: 200px;
    margin-top: 60px;
    font-size: 18px;
    color: #FD9C6B;
    background-color: black;
    border-radius: 5px;
    outline: none;
    border: 1px solid #FD9C6B;
}
.brand-btn:hover{
background-color: #FD9C6B;
color: white;
}

.collection{
    width: 100%;
height: auto;
  
}
.products-h1{
    text-align: center;
padding: 30px;
}
.products {
    display: grid; 
    grid-template-columns: repeat(4, 300px);
    gap: 15px; 
    justify-content: center;
    margin-top: 50px; 
}

.product {
    background-color: #f2f2f2;
    width: 300px; 
    height: 300px;
    border: 1px solid #ccc;
}
.necklace{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.product-p{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color:#ffffff;
    margin: 10px;
    padding-top: 15px;
    text-align: center;
}
.product-img{
    width: 175px;
    height: 175px;
    margin-top: -10px;
    margin-left: 55px;
}
.necklace-h5{
    margin-left: 10px;
    font-size: 18px;
    margin-right: 10px;
}
span{
    color: #FD9C6B;
}

.view{
 width: 200px;
 height: 50px;
 background-color: #FD9C6B;
 margin-left:660px ;
 margin-top: 30px;
 border-radius: 10px;
 font-size: 15px;
 color: white;
 border: 2px solid #FD9C6B;
}
.view:hover{
    background-color: white;
    color:  #FD9C6B;

}
.photos{
    width: 100%;
    height: 660px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}

.simple-div{
    width: 250px;
    height: 250px;
    background-color: black;
    position: relative;
    top: 80px;  
    left: -160px;

}
.about-img{
    width: 550px;
    height: 400px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute; 
   
}
.about-us{
    width: 600px;
    
    height: 395px;
    margin-top: 100px;
  margin-right: -150px;
  gap: 20px;
}
.main-upto{
    width: 100%;
    height: 630px;
    display: flex;
}
.about-h1{
font-size: 34px;
margin-top: 60px;
margin-left: 30px;
}
.about-p{
    margin-top: 20px;
    margin-left: 30px;
    width: 460px;
    font-size: 17px;
}
.about-btn{
    width: 170px;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 17px;
    background-color: #FD9C6B;
    color: white;
    border-radius:  3px;
    outline: none;
}
.about-btn:hover{
    background-color: white;
    color: #FD9C6B;
}
.upto-img1{
 width: 900px;
 height: 600px;
    background-image: url(./images/o1.jpg);
    margin-left: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
}
.upto-h1{
    padding-top: 40px;
    color: white;
    font-size: 40px;
    margin-left: 30px;
}
.upto-btn{
    width: 170px;
    height: 45px;
    margin-left:30px ;
    margin-top: 40px;
    font-size: 20px;
    background-color: black;
    outline: none;
    border-color: brown;
    color: brown;
    border: 2px solid #FD9C6B;
    color: #FD9C6B;
    outline: none;
}
.upto-btn:hover{
    background-color: #FD9C6B;
    color: white;
}
.upto-class:hover{
    background-color: brown;
    color: white;
}
.upto-div2{
   background-image: url(./images/o2.jpg);
   width: 581px;
   height: 300px;
   margin-left: 10px;

}
.upto-div3{
    width: 581px;
   height: 300px;
   margin-left: 10px;
   background-image:url(./images/o3.jpg) ;
}
.upto-h4{
    color: white;       
 float: right;
 margin-right: 20px;
margin-top: 20px;
font-size: 30px;
margin-top: 170px;
}
.upto-btns{
    width: 170px;
    height: 45px;
   margin-top: 200px;
    font-size: 20px;
background-color: #0C1121;
    outline: none;
color: #FD9C6B;
  outline: none;
    margin:230px -160px 0 0 ;
    float: right;
    border: 2px solid #FD9C6B;

}
.upto-btns:hover{
background-color: #FD9C6B;
color: white;


}


.upto-h4s{
    color: white;
float: left;
margin-left: 30px;
font-size: 30px;
 margin-top: 170px; 
} 
.upto-btnss{
     width: 170px;
    height: 45px;
   margin-top: 230px;
    font-size: 20px;
    background-color: black;
    outline: none;
    border-color: brown;
    color: brown;
    border: 2px solid #FD9C6B;
    color: #FD9C6B;
    outline: none;
    float: left;
    margin-left: -180px;
}
.upto-btnss:hover{
     background-color: #FD9C6B;
    color: white;
}

/* 4 div close know  */
.blog{
    width: 100%;
    height:830px;
 
}
.products-h1s{
    text-align: center;
    margin-top: 60px;
}
.blog-div1{
    width: 600px;
    height: 700px;
    background-color: #F1F2F3;
}
.date{
    width: 60px;
    background-color: #111;
    color: white;
    margin: -9px 0 0 20px;
    height: 70px;
    border-color: white;
}

.date-h4{
    text-align: center;
    padding-top: 20px;
}
.blog-downh2{
    margin-top: 10px;
    margin-left: 20px;
}
.blog-downhp{
    margin-top: 10px;
    margin-left: 20px;
    width: 440px;
}
.blog-downhbtn{
    width: 150px;
    height: 40px;
    background-color:  #F1F2F3;
    margin-top: 30px;
    margin-left: 20px;

}
.blog-downhbtn:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.blog-parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.testimonial-section {
    text-align: center;
    padding: 60px 20px;
    height: 650px;
}

.title {
    font-size: 32px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    color: #222;
}

.testimonial-card {
    background: #111;
    color: white;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 30px;
    border-radius: 18px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    position: relative;
}

.profile-pic img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #fff;
    margin-bottom: 15px;
}

.name {
    margin: 10px 0;
    font-size: 20px;
    color: #ffae42;
}

.text {
    line-height: 1.6;
    font-size: 15px;
    padding: 0 20px;
}

.quote {
    margin-top: 25px;
    font-size: 32px;
    opacity: 0.7;
}


.arrow-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.btn-arrow {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background: #f4a261; 
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-arrow:hover {
    background:black;
    transform: scale(1.1);
}
.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
    padding: 30px 20px;
    height: 10px;
    margin-top: -30px;
   
}

.subscribe-box {
    display: flex;
    width: 60%;
    max-width: 900px;
    margin-top: 60px;
  
}

.subscribe-box input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background: #fff;
    font-size: 16px;
}

.send-btn {
    width: 60px;
    border: none;
    background: #f4a261;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
}

.send-btn:hover {
    background: black;
}


.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #f4a261;
    border-color: #f4a261;
}
.footer{
    width: 100%;
    height: 350px;
    background-color: black;
    margin-top: 100px;
}

.parent-footer{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
    color: white;
}
.Instagram-father{
    display: flex;
    justify-content: center;
}
.Instagram-child1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Instagram-child2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.menu-h1{
    margin-top: 30px;
}
.menu-h3{
    margin-top: 20px;
}
.Instagram-imgp{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 15px;
}
.menu{
    margin-left: 140px;
}
.looking{
    margin-right: 70px;
}
.Instagram-imgps{
    font-size: 20px;
    margin-right: 30px;
    margin-top: 30px;
}
.Instagram{
 margin-left: 230px;
}
.contact{
    margin-right: 100px;
    
}
.naveed{
    width: 100%;
    height: 430px;
    background-color: white;
}
.naveed-p{
      text-align: center;   
    margin-top: 30px;    
    width: 100%;  
}

@media screen and (max-width:768px) {
    .brand{
        height: 700px;
        background-size: cover;
        background-position: center;
    }
    
}
@media screen and (max-width:480px){
    .brand {
        height: 500px; 
        background-size: cover;
        background-position: center;
    }
}




@media screen and (max-width:750px){
    .brand-p{
        width: 400px;
        margin-left: 150px;
    }
.best-h1{
    margin-left: 150px;
    font-size: 30px;
}
.brand-btn{
    margin-left: 150px;

}
    }
    
@media screen and (max-width:622px)
{
    .brand-p{
        width: 300px;
        margin-left: 100px;
        margin-top: 80px;
        
    }
    .best-h1{
        font-size: 25px;
        margin-left: 100px;
        margin-top: 130px;
        
    }
    .brand-btn{
    margin-left: 100px;


}
}
@media screen and (max-width:483px){
    .brand{
        height: 700px;
        
    }
    .best-h1{
        margin-left: 60px;
        font-size: 20px;
        margin-top: 140px;
    }

    .brand-p{
        width: 200px;
        margin-left: 60px;
        margin-top: 100px;
    }
    .brand-btn{
        margin-left: 60px;
        margin-top: 50px;
    }
}

/* first div media query close  */
/* second div media query start know  */
@media screen and (max-width: 1276px) {
  .products {
    grid-template-columns: repeat(3, 300px);
    margin:  0 0 0 0 ;
    gap: 65px;
   
  }
}
@media screen and (max-width:1063px){
    .products{
         grid-template-columns: repeat(2, 200px);
         justify-content:space-evenly;
         
       
    }
    .view{
        margin-left: 470px;
        margin-top: 60px;
    }
    
}
@media screen and (max-width:791px){
   .products{
     grid-template-columns: repeat(1, 200px);
   } 
   .view{
     margin-left: 300px;
     margin-top: +50px;
   }
   .products-h1{
    margin-left: 100px;
   }
}

@media screen and (max-width:421px) {
    .products{
        margin-left: -120px;
    }
    .view{
         margin-left: 60px;
    }
    
}
/* second div close know  */
/* 3rd div is start know  */
@media screen  and (max-width:1215px){
    .photos{
        position: relative;
    display: flex;
    justify-content: space-evenly;
    }
    .simple-div{
        width: 200px;
    height: 250px;
    background-color: black;
    position: relative;
    top: 80px;  
    left: -130px;
    }
    .about-img{
        width: 450px;
    height: 350px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    }
    .about-us{
        width: 450px;
 
    height: 345px;
    margin-top: 100px;
  margin-right: -120px;
  gap: 20px;
    }
    .about-p{
        width: 430px;
    }
}
@media screen  and (max-width:966px){
    .photos{
        position: relative;
    display: flex;
    justify-content: space-evenly;
    }
    .simple-div{
        width: 150px;
    height: 250px;
    background-color: black;
    position: relative;
    top: 80px;  
    left: -110px;
    }
    .about-img{
        width: 350px;
    height: 350px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    }
    .about-us{
        width: 350px;

    height: 345px;
    margin-top: 100px;
  margin-right: -120px;
  gap: 20px;
    }
     .about-p{
        width: 300px;
    }
}
@media screen and (max-width:725px){
    .photos{
     position: relative;
    display: flex;
    justify-content: space-evenly;
    }
     .simple-div{
        width: 100px;
    height: 200px;
    background-color: black;
    position: relative;
    top: 80px;  
    left: -110px;}
     .about-img{
        width: 300px;
    height: 300px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    }
    .about-us{
        width: 300px;
  
    height: 350px;
    margin-top: 100px;
  margin-right: -120px;
  gap: 20px;   
    }
    .about-p{
        width: 270px;
    }
}
@media screen and (max-width:636px)
{
    .photos{
        display: block;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        height: 850px;
    }
    .about-us{
        margin-top: 230px;
        margin-right: 0px;
    }
}
/* 3rd div media query close  */
/* 4th div media query start know  */

@media screen and (max-width: 1024px) {
    .main-upto {
        flex-direction: column;
        height: auto;
    }
    .upto-img1 {
        width: 100%;
        height: 400px;
        margin-left: 0;
    }
    .safi {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .upto-div2, .upto-div3 {
        width: 99%;
        height: 250px;
        margin-left: 0;
        margin-bottom: 20px;
        background-size: cover;
    }
    .upto-h4, .upto-h4s {
        margin-top: 20px;
        font-size: 24px;
        float: none;
        text-align: center;
    }
    .upto-btns {
        margin: 170px;
        margin-right: -140px;
        float: right;
        display: block;
    }
    .upto-h4{
        float: right;
        margin-top: 130px;
        margin-right: 30px;

    }
    .upto-h4s{
        float: right;
        margin-top: 150px;
        margin-right: 30px;
    }
    .upto-btnss{
 margin-top: 180px;
        margin-right: -180px;
        float: right;
        display: block;
    }
    .upto-btn {
        margin-left: 30px;
    }
}


@media screen and (max-width: 606px) {
    .upto-img1 {
        height: 350px;
        font-size: 24px;
    }
    .upto-h1 {
        font-size: 28px;
        padding-top: 20px;
    }
    .upto-btn {
        width: 140px;
        height: 40px;
        font-size: 16px;
    }
    .upto-div2, .upto-div3 {
        width: 100%;
        height: 200px;
        justify-content: center;
        justify-items: center;
    }
    .upto-h4 {
        font-size: 20px;
        margin-top: 110px;
    }
    .upto-h4s{
 font-size: 20px;
        margin-top: 110px;
    }
    .upto-btns {
        width: 140px;
        height: 40px;
        font-size: 16px;
        margin-left: -30px;
        margin-top: 140px;
    }
    .upto-btnss{
   width: 140px;
        height: 40px;
        font-size: 16px;
        margin-top: 140px;
        margin-right: -160px;
    }
}



































@media screen and (max-width: 480px) {
    .title {
        font-size: 25px;
    }

    .testimonial-card {
        width: 95%;
        padding: 25px 15px;
    }

    .profile-pic img {
        width: 95px;
        height: 95px;
    }

    .name {
        font-size: 17px;
    }

    .text {
        font-size: 13px;
    }

    .quote {
        font-size: 25px;
    }

    .btn-arrow {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}
